@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
*{
    /* overflow-x: hidden; */
    font-family: 'Comic Neue', cursive;
    font-weight: 300;
}
.navbar{
    position: fixed;
    width: 100%;
}
.navbar-brand img{
    padding-left: 5px;
    width: 90px;
}
ul li a{
    margin: 5px;
}
.active{
    background-color: #82ccdd !important;
    /* color: 'rgba(0,0,0,.55)', */
    /* background-color: #82ccdd; */
}
.link {
    padding: 15px !important;
    margin: 15px;
}
.link:hover{
    background-color: #82ccdd;
    border-radius: 2px;
    transition: all 1s;
    color: black !important;
   

}
.btn {
    background: #2BC790 !important;
    color: white !important;
    padding: 10px 20px !important;
    outline: none !important;
    border: 0 !important;
    border-radius: 50px !important;
    animation: hue 20s infinite !important;
    transition: padding 0.5s !important;
}

.btn:hover {
    padding: 10px 40px !important;
}
.aagam-landing-text {
    padding-top: 88px !important;
}
.animatedhead{
    /* font-size: 2rem; */
    color: transparent;
    animation: effect 2s linear infinite;
}
@keyframes effect {
    0% {
        background: linear-gradient(
                #000, grey);
        -webkit-background-clip: text;
    }

    100% {
        background: linear-gradient(
                #000, darkgrey);
        -webkit-background-clip: text;
    }
}
.about{
    min-height: 500px !important;
    background-image: url('./image/aboutbg.jpg');
    background-size: cover;
    background-position: center top;
    /* background: linear-gradient(87deg,#172b4d 0,#1a174d 100%)!important; */
        
}
.course{
    min-height: 570px !important;
    background-image: url('./image/course.jpg');
    background-size: cover;
    background-position: center top;
    /* background: linear-gradient(87deg,#172b4d 0,#1a174d 100%)!important; */
        
}
.upper{
    z-index: 2;
}
.opacity-7 {
    opacity: .7!important;
}
.course-grad{
    background: linear-gradient(87deg,#A9F1DF 0,#FFBBBB 100%)!important;
}
.bg-gradient-default {
    background: linear-gradient(87deg,#172b4d 0,#1a174d 100%)!important;
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .15s ease;
}
.card-profile-image img {
    position: absolute;
    left: 50%;
    max-width: 140px;
    transition: all .15s ease;
    transform: translate(-51%,1%) scale(1);
    border: 3px solid #fff;
    border-radius: 0.375rem;
}
.card-profile-image img:hover {
    transform: translate(-50%,-50%) scale(1.03);
}
.shadow{
    transition: transform 0.5s;
    cursor: pointer;
    /* background-color: #000 !important;
    color: #fff !important; */
}
.shadow:hover{
    transform: translateY(-10px);
}

footer{
    position: relative;
    bottom: 0;
  
    background-color: #e3f2fd;
    
}
footer p{
    color: black;
}
footer p a{
    color: black;
    text-decoration: none;
    padding: 4px;
}