@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
*{
    font-family: 'Comic Neue', cursive;
    font-weight: 300;
}
.navbar{
    position: fixed;
    width: 100%;
}
.navbar-brand img{
    padding-left: 5px;
    width: 90px;
}
ul li a{
    margin: 5px;
}
.btn {
    background: #2BC790;
    color: white;
    padding: 10px 20px;
    outline: none;
    border: 0;
    border-radius: 50px;
    animation: hue 20s infinite;
    transition: padding 0.5s;
}

.btn:hover {
    padding: 10px 40px;
}
.aagam-landing-text {
    padding-top: 88px !important;
}
footer{
  
    background-color: #e3f2fd;
    
}
footer p{
    color: black;
}
footer p a{
    color: black;
    text-decoration: none;
    padding: 4px;
}