@media (max-width: 500px){
    /* .active{
        width: 55px !important;
        padding: 2% !important;
    } */
    .landing-image {
        width: 84% !important;
        margin-top: -52% !important;
        padding-top: -10% !important;
    }
    .cards_item {
        width: 321px;
    }
    .contact-image {
        /* height: 10% !important; */
        width: 277px !important;
        padding-top: -34% !important;
        /* margin-top: -3% !important; */
        padding-right: 21% !important;
    }
    .course{
        min-height: 472px !important;      
    }
    .course-grad{
        /* background: linear-gradient(87deg,#A9F1DF 0,#FFBBBB 100%)!important; */
        /* min-height: 472px !important;   */
    }
    .landing-image{
        /* margin-top: 7% !important; */
       
       
    }
}